*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/composeApp/build
/desktopApp/build
.kotlin
captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.keystore
*.jks
keystore.properties

